* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1440px;
}

// шаблоны

%font {
    text-decoration: none;
    font-family: 'Sora';
    font-style: normal;
}

// переменные

$color__menu: #333333;

// миксины

@import "mixin.scss";

// заканчиваются

.main {
    background: #e7f5ff;
    @import "nav__menu.scss";
    @import "image_plus_text.scss";
    .block__bottom__block {
        .text__title {
            @extend %font;
            @include text__title(#9497A5);
            text-align: center;
            margin: 0;
        }
        .text__h {
            @extend %font;
            @include text__header(#333333);
            text-align: center;
            margin: 0 0 15px 0;
        }
        .main__text__h {
            @extend %font;
            @include text__main(#33333380);
            text-align: center;
            margin: 0;
        }
        @import "card__main.scss";
    }
}

.header {
    background-color: #fff;
    @import "header.scss";
}

.our__work {
    background: #e7f5ff;
    @import "image_plus_text.scss";
    .wrapper__text__plus__image {
        padding-top: 160px;
        display: flex;
        .image__our_section {
            width: 470px;
        }
        .block__left__menu {
            .text__h {
                width: 310px;
                font-size: 56px;
                line-height: 64px;
            }
            .main__text__h {
                font-size: 20px;
                line-height: 32px;
                width: 390px;
            }
            .btn {
                border: 1px solid rgba(74, 144, 226, 0.3);;
                @include btn(#4A90E2);
            }
        }
    }
    .wrapper__text__info {
        padding-bottom: 160px;
        display: flex;
        justify-content: space-evenly;
        .block__info {
            .header__text__block {
                @extend %font;
                font-weight: 700;
                font-size: 56px;
                line-height: 64px;
                text-align: center;
                letter-spacing: -2px;
                color: #333333;
                .image__plus {
                    margin-top: 15px;
                    float: right;
                }
            }
            .text__header__block {
                @extend %font;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                color: #333333;
            }
            .title__header__block {
                @extend %font;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                color: rgba(51, 51, 51, 0.5);
            }
        }
    }
}

.section__info__work {
    background: #e7f5ff;
    .block__work {
        .text__title {
            @extend %font;
            @include text__title(#9497A5);
            text-align: center;
            margin: 0;
        }
        .text__h {
            @extend %font;
            @include text__header(#333333);
            text-align: center;
            margin: 0 0 15px 0;
            font-size: 56px;
            line-height: 64px;
            padding-bottom: 70px;
        }
    }
    .wrapper__info__work {
        display: flex;
        align-items: center;
        flex-direction: column;
        .block__info__work, .block__info__work__right {
            width: 600px;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
            border-radius: 12px;
            display: flex;
            margin-bottom: 30px;
            .header__text__card {
                @extend %font;
                font-weight: 700;
                font-size: 72px;
                line-height: 80px;
                text-align: center;
                letter-spacing: -3px;
                color: #333333;
        
                background: #E3F0FF;
                border-radius: 12px 0px 0px 12px;
                padding: 40px 60px 40px 60px;
            }
            .block__display {
                .text__onTheRight {
                    @extend %font;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333333;
                    padding-left: 50px;
                    padding-top: 40px;
                    padding: 40px 0 10px 50px;
                }
                .text__title__onTheRight {
                    @extend %font;
                    width: 300px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: rgba(51, 51, 51, 0.5);
                    padding: 0 50px 20px 50px;
                }
            }
        }
        .block__info__work__right {
            width: 580px;
            margin-left: 200px;
            .header__text__card {
                background: #FFF2DE;
            }
        }
    }
    @import "image_plus_text.scss";
    .wrapper__text__plus__image {
        .text__h {
            width: 550px;
        }
        .main__text__h {
            width: 470px;
        }
    }
    .card__main {
        display: flex;
        justify-content: center;
        @include position(0%,50%,-50%,-30%);
        .block__one__card {
            margin-right: 30px;
            width: 250px;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
            border-radius: 12px;
            .text__card__main {
                @extend %font;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #333333;
                padding: 35px 0px 15px 30px;
                width: 130px;
            }
            .text__title__card__main {
                @extend %font;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px; 
                color: rgba(51, 51, 51, 0.5);
                padding-left: 30px;
                padding-bottom: 40px;
                width: 200px;
            }
            .image__block__card {
                margin-left: 30px;
                margin-top: 30px;
            }
        }
    }
    .pos__relative {
        position: relative;
    }
}

.footer {
    background: #e7f5ff;
    @import "footer.scss";
}